@font-face {
  font-family: 'WeePeople';
  src: url('../fonts/weepeople.woff2') format('woff2'),
    url('../fonts/weepeople.woff') format('woff'),
    url('../fonts/weepeople.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.weepeople {
  font-family: 'WeePeople';
}
